
@font-face {
    font-family: Poppins-Bold;
    src: url('../Fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../Fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../Fonts/Poppins-SemiBold.ttf');
}

html {
    font-size: 14px;
    background-color: ghostwhite;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

a, span, label, p, h1, h2, h3, h5, h6 {
    font-family: Poppins-Light;
}

body {
    margin-bottom: 60px;
    background-color: ghostwhite;
}

.nav-teal {
    background-color: #FA9211 !important;
}

    .nav-teal a {
        font-weight: bold;
        color: white !important;
        font-family: Poppins-Light;
    }

        .nav-teal a:hover {
            transform: scale(1.05);
            transition: all 0.5s;
            color: darkgoldenrod !important;
        }



.nav-administrativo {
    background-color: darkred !important;
}

    .nav-administrativo a {
        font-weight: bold;
        color: white !important;
        font-family: Poppins-Light;
    }

        .nav-administrativo a:hover {
            transform: scale(1.05);
            transition: all 0.5s;
            color: darkgoldenrod !important;
        }




.container-administrativo {
}

    .container-administrativo h1, .container-administrativo h2, .container-administrativo h3, .container-administrativo h4 {
        color: brown;
        font-weight: bold;
        font-family: Poppins-Light;
    }

.img-icon-nav {
    width: 30px;
    height: 30px;
}

.container-teal {
    background-color: #FEB319;
    color: black;
}

    .container-teal a, .container-teal p, .container-teal span, .container-teal label {
        color: ghostwhite;
    }

.container-ghost {
    background-color: ghostwhite;
    color: black;
}

    .container-ghost a, .container-ghost p, .container-ghost span, .container-ghost label {
        color: black;
    }

    .container-ghost h1, .container-ghost h2, .container-ghost h3, .container-ghost h4 {
        color: #FEB319;
    }

    .container-ghost small {
        color: gray;
    }

    .container-ghost  p b {
        color: #FEB319 !important;
    }

.topo-home {
    width: 100%;
    height: 60vh;
}

    .topo-home img {
        width: 100%;
        height: 100%;
    }



.btn-teal {
    background-color: #FEB319;
    color: white !important;
    border-radius: 50px;
    min-width: 130px;
}

    .btn-teal:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: #FEB31955;
    }


.btn-voltar {
    background-color: ghostwhite;
    color: #FEB319;
    border-radius: 50px;
    min-width: 130px;
}

    .btn-voltar:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: #FEB31955;
    }

.link-redirect-orange:hover {
    color: #FEB319 !important;
    font-weight: bold;
}


.form-small {
}

    .form-small .ag-field-input {
        font-family: Poppins-Light;
        font-size: 1rem;
        letter-spacing: .5px;
        border: 0;
        outline: 0;
        border-bottom: 1px solid;
        padding-bottom: .5rem;
        width: 100%;
        border-radius: 50px;
        line-height: 1rem;
        background-color: transparent;
        color: #FEB319;
    }

    .form-small .ag-field-label {
        font-family: Poppins-Light !important;
        font-size: 1rem;
        letter-spacing: .5px;
        position: absolute;
        left: 0;
        pointer-events: none;
        transition: all .3s ease;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 10px;
        line-height: 1rem;
        margin-top: 0.5rem;
    }

    .form-small .ag-field-input:focus ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
        transform: translate3d(0,-120%,0);
        margin-top: 0px;
    }

    .form-small .ag-field-input:valid ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
        transform: translate3d(0,-120%,0);
        margin-top: 0px;
    }


    .form-small .ag-field-input:read-only ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1rem;
        letter-spacing: .1rem;
        line-height: 1.2rem;
        transform: translate3d(0,-120%,0);
        margin-top: 0px;
    }

.ag-field-label {
    font-family: Poppins-Light !important;
    font-size: 1.0rem;
    letter-spacing: .5px;
    line-height: 3rem;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    transition: all .3s ease;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.ag-field-input:focus ~ .ag-field-label {
    font-family: Poppins;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    line-height: calc(18px + 2 * ((100vw - 320px) / 447));
    transform: translate3d(0,-120%,0);
}

.ag-field-input:valid ~ .ag-field-label {
    font-family: Poppins;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    line-height: calc(18px + 2 * ((100vw - 320px) / 447));
    transform: translate3d(0,-120%,0)
}

@media only screen and (min-width: 768px) {
    .ag-field-input:focus ~ .ag-field-label {
        line-height: 2rem
    }
}


.ag-field-input {
    font-family: Poppins-Light;
    font-size: 1.0rem;
    letter-spacing: .5px;
    line-height: 2rem;
    border: 0;
    outline: 0;
    border-bottom: 1px solid;
    padding-bottom: .5rem;
    width: 100%;
    border-radius: 50px;
}

    .ag-field-input:disabled ~ .ag-field-label {
        font-family: Poppins;
        font-size: 1.0rem;
        letter-spacing: .1rem;
        line-height: calc(18px + 2 * ((100vw - 320px) / 447));
        transform: translate3d(0,-120%,0);
    }

    .ag-field-input:focus {
        background-color: #FEB319;
        color: ghostwhite;
    }

.ag-field {
    position: relative
}

.ag-input-color-orange-full {
    background-color: ghostwhite;
    color: #FEB319;
}

.ag-input-color-light-full {
    background-color: ghostwhite;
    color: #FEB319;
}


.ag-field-content {
    position: relative;
    margin-top: 2.2rem;
    padding-bottom: 7px;
}

.g-width-10 {
    width: 100%;
}

.g-width-9 {
    width: 90%;
}

.g-width-8 {
    width: 80%;
}

.g-width-7 {
    width: 70%;
}

.g-width-6 {
    width: 60%;
}

.g-width-5 {
    width: 50%;
}

.g-width-4 {
    width: 40%;
}

.g-width-3 {
    width: 30%;
}

.g-width-2 {
    width: 20%;
}

.g-width-1 {
    width: 10%;
}

.validacao-senha {
    color: darkred;
    font-weight: bold;
    align-self: center;
    margin-top: 5% !important;
}

.icon-description {
    background-color: #FEB319;
    color: ghostwhite;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
}

.tooltip-inner {
    background-color: #FEB319 !important;
    color: ghostwhite !important;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #FEB319 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #FEB319 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #FEB319 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #FEB319 !important;
}

.tooltip-bottom {
    position: relative;
    display: inline-block;
}

    .tooltip-bottom .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #FEB319;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip-bottom:hover .tooltiptext {
        visibility: visible;
    }

.hr-light {
    color: #FEB319 !important;
    opacity: 1;
}



.border-none {
    border: 0px !important;
}

.c-loader-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 28%)
}


.scroll-teal::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.scroll-teal::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background-color: ghostwhite; /* color of the tracking area */
}

.scroll-teal::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: #FEB319; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid ghostwhite; /* creates padding around scroll thumb */
}


.form-contato-sugestao {
    border-radius: 50px;
    padding: 30px;
}



/*TEXTO*/
.texto-teal {
    color: #FEB319;
}

.texto-bold {
    font-weight: bold;
}



.text-link {
    color: #FEB319;
    text-decoration: none !important;
    font-weight: bold !important;
}

    .text-link:hover {
        transition: 0.3s !important;
        transform: scale(1.05) !important;
        color: #FEB31955 !important;
    }
/*FIM TEXTO*/
.footer-contatos {
}

    .footer-contatos img {
        width: 30px;
        height: 30px;
    }

    .footer-contatos a {
        cursor: pointer;
    }

        .footer-contatos a:hover {
            transform: scale(1.1) !important;
            transition: all 0.5s;
        }



.pnl-visao-valores {
}

    .pnl-visao-valores h1, h2 {
        font-size: 42px;
        line-height: 46px;
        font-weight: bold;
    }

.pnl-txt-valores p {
    line-height: 25px;
    font-size: 17px;
}


.card-sobre-politico {
    box-shadow: 1px 1px 50px 1px #00000066;
    width: 314px;
    height: 320px;
    padding: 1.5rem;
}

    .card-sobre-politico strong {
        font-size: 20px;
        font-family: Poppins-Light;
        line-height: 25px;
    }

    .card-sobre-politico p {
        font-size: 14px;
        font-family: Poppins-Light;
        line-height: 18px;
        color: #666666;
        margin-top: 1rem;
    }

    .card-sobre-politico .published {
        color: #666666;
        text-decoration: none;
    }

.table-administrativo table {
}

.table-administrativo tr {
}

.table-administrativo td {
    word-wrap: break-word;
    max-width: 161px !important;
}

.pnl-descricao-trabalho h4, .pnl-descricao-trabalho p {
    font-weight: bold;
}

.text-regular-orange {
    color: #FEB319;
    font-weight: bold;
}

    .text-regular-orange h1{
        font-size: 42px;
        font-weight: bold;
    }

    .text-regular-orange p {
        text-decoration: none;
        color: brown !important;
    }

    .text-regular-orange a {
        text-decoration: none;
        color: brown !important;
    }

        .text-regular-orange a:hover {
            text-decoration: none;
            color: #FEB319 !important;
        }



.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    /* Ajuste para telas menores */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: none;
        padding: 8px;
        display: block;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    td {
        border-bottom: 1px solid #ddd;
    }


    .table-administrativo td {
        word-wrap: break-word;
        max-width: 95vw !important;
    }
}
.message-warning {
    height: 100px;
    width: 100%;
    background-color: beige;
    text-align-last: center;
    padding: 10px;
    text-align: center;
}
.text-semi-bold-orange {
    font-weight: bold;
    font-family: Poppins-SemiBold;
    color: #800000;
}

/*MOBILE*/
@media only screen and (max-width: 750px) {
    .topo-home {
        width: 100%;
        height: 30vh;
    }

}


