@using Expert.Gov.Core.Authorization;
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leo Pontes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Expert.Gov.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/portfolios.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow nav-teal">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/logo-leopontes.png" style="width: 80px; height: 30px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TrabalhoRealizado" asp-action="TrabalhosRealizados">Trabalhos</a>
                        </li>

                        <li class="nav-item d-none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TrabalhoRealizado" asp-action="TrabalhosRealizados">Comunidade</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="InserirSolicitacao">Fale conosco</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <div class="nav-right">
                                @if (!User.IsAuthenticated())
                                {
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">
                                        <img class="img-icon-nav mx-2" src="~/imgs/login-white.png" />
                                        Login
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-area="" asp-controller="Administrativo" asp-action="PainelAdministrador">
                                        Administrador
                                    </a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class=" mb-2">
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted" style="position: relative !important;">
        <div class=" col-sm-12 d-sm-inline-flex ">

            <div class="container col-sm-8 p-3 mt-2 ps-5" style="display: flex;    flex-wrap: wrap; ">
                &copy; 2024 &nbsp; Leo Pontes - &nbsp; <a asp-area="" asp-controller="Home" asp-action="Privacy" class="link-redirect-orange" style="color: #008080 ; text-decoration: none;">Políticas de privacidade</a>
                &nbsp; Desenvolvido por - <a href="https://www.instagram.com/ihc_digitalsolutions/" target="_blank"
                                             class="link-redirect-orange ps-3" style="color: #008080 ; text-decoration: none;">IHC Digital Solutions</a>
            </div>



            <div class="container d-inline-flex col-sm-4 d-sm-flex footer-contatos justify-content-center  p-3 mb-1 mt-2">
                <div class="col-sm-1 ">
                    <a href="https://wa.me/5511999957297" target="_blank">
                        <img src="~/imgs/wpp-icon-png.png" />
                    </a>
                </div>

                <div class="col-sm-1 ">
                    <a href="https://www.instagram.com/leopontessp/" target="_blank">
                        <img src="~/imgs/insta-icon2.png" />
                    </a>
                </div>

                <div class="col-sm-1 ">
                    <a href="https://www.facebook.com/leo.pontes.4" target="_blank">
                        <img src="~/imgs/2023_Facebook_icon.svg" />
                    </a>
                </div>

            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/UtilAjax.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
