@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}




@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


<div class="container container-ghost">

    <h2 class="text-danger">@Model.Message</h2>
    
    <p>
        @Model.StackTrace
    </p>
</div>

