


<div class="container container-ghost mt-5">

    <div class="col-lg-12 d-inline-flex">
        <h4 class="col-lg-10">Trabalhos realizados</h4>
        <a type="button" class="btn btn-teal col-lg-2 ms-2" asp-controller="TrabalhoRealizado" asp-action="IncluirTrabalho">Incluir atividade</a>
    </div>
    <hr />






</div>