@using Expert.Gov.Core.Models.Authentication;
@model LoginModel
@{
    Layout = "";
    ViewData["Title"] = "Login - Expert.Gov";
}

<!DOCTYPE html>
<html lang="pt-br" class="fundo-login">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/image-css.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ihc.CrackSports.styles.css" asp-append-version="true" />

    <style>
        .fundo-login {
            background-color: #FEB319;
            color: ghostwhite !important;
        }

            .fundo-login a {
                color: ghostwhite !important;
            }



        .top-form-login {
            margin-top: 180px !important;
        }

        .link-redirection-simple {
            text-decoration: none;
        }

        .btn-confirm-radius {
            border-radius: 50px;
            width: 120px;
            background-color: ghostwhite;
            color: #FEB319;
        }

    </style>
</head>
<body class="fundo-login">
    <header class="">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Leo Pontes</a>
            </div>
        </nav>
    </header>

    @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
    {
        <div class="center-text container pt-5">
            <div class="message-warning">
                <h4 class="text-semi-bold-orange mt-3">@Model.ErrorMessage</h4>
        </div>
    </div>
    }

    <div class="d-sm-block">
        <div class=" container-fluid" style="padding-left: 10%; max-width: 900px; position: fixed;">
            <h3 class="mt-5 text-semi-bold-light top-form-login">Acesse sua conta</h3>
            <form class="col-9 col-sm-4 col-lg-6 mt-5 " asp-controller="Home" asp-action="Logar" method="post">
                <!-- Email input -->
                <div class="form-outline mb-4 ag-field-content ">

                    <input asp-for="UserName" type="text" id="txtUserNameLogin" class="form-control ag-field-input ag-input-color-orange-full" autocomplete="off" required />
                    <label class="form-label ag-field-label text-black" for="form2Example1">Usuário</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4 ag-field-content ">

                    <input asp-for="Password" type="password" id="txtSenhaLogin" class="form-control ag-field-input ag-input-color-orange-full" required />
                    <label class="form-label ag-field-label text-black" for="form2Example2">Senha</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex ">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <label class="form-check-label" for="chkLembrarMe"> Lembrar-me </label>
                            <input class="form-check-input form-checkbox-input" type="checkbox" value="" id="chkLembrarMe" checked />

                        </div>
                    </div>

                    <div class="col">
                        <!-- Simple link -->
                        <a href="#!" class="link-redirect-orange link-redirection-simple">Esqueceu sua senha ?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button id="btnLogar" type="submit" class="btn  btn-block btn-confirm-radius mb-4">Acessar</button>


                <!-- Register buttons -->
                <div class="text-center">
                    <p>Não tem uma conta ? <a href="#!" id="lblCriarConta" class="link-redirect-orange link-redirection-simple" onclick="redirectCadastro()"> <b>Crie agora</b></a></p>
                </div>
            </form>
        </div>


        <div id="pnlMsgTryLogin" class="message-warning d-none" style="height: unset !important;">
            <h4 id="msgTryLoginUser" class="text-semi-bold-orange mt-3">Usuário ou senha inválidos</h4>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/UtilAjax.js" asp-append-version="true"></script>
    <script src="~/js/Usuario/login.js" asp-append-version="true"></script>
</body>
</html>
